
{{define "BCP47" -}}
{{if (IsPtr . )}}
if err := gokay.IsBCP47(s.{{index .Names 0}}); err != nil {
  {{ AddError . "err" }}
}
{{else}}
if err := gokay.IsBCP47(&s.{{index .Names 0}}); err != nil {
  {{ AddError . "err" }}
}
{{end}}
{{end -}}
