{{define "NotNil"}}
  {{ if IsNullable . }}
  if s.{{.FieldName}} == nil {
    {{ AddError . "errors.New(\"is Nil\")" }}
  }
  {{ else }}
  // Skipped Non Pointer value for Nil evaluation
  {{ end }}
{{end -}}
